<div>

<section class="chat-container" aria-label="Chat History">
  <ul class="message-list" aria-live="polite">
    @for (post of chatPosts(); track post.id) {
      <li class="message-item">
        <article [class.sent-by-me]="post.isCurrentUser">
          <header>
            <span class="author">{{ post.from }}</span>
            <time [attr.datetime]="post.timestamp">{{ post.timestamp }}</time>
          </header>
          <p class="message-body">
            {{ post.message }}
          </p>
        </article>
      </li>
    } @empty {
      <li class="no-messages">No messages yet. Start the conversation!</li>
    }
  </ul>

</section>
</div>

<div class="message-container">
  <input type="text" #messageInput class="message-input" placeholder="Type your message here...">
  
  <button type="button" class="send-button" (click)="sendMessage(messageInput.value); messageInput.value=''">
    Send Message
  </button>
</div>




